<div class="cta-banner" data-cta-products="Just exploring? ...or looking for your next design hire?">
    <div class="cta-inner">
        <div class="cta-avatar">
            <img src="{{@site.icon}}" alt="Hudson Paine">
        </div>
        <p class="cta-text"></p>
        <a href="/contact" class="cta-link">Contact me</a>
    </div>
</div>
