<section class="hero">
    <div class="hero-inner">
        <div class="hero-text">
            <h1 class="hero-name">Hudson Paine</h1>
            <p class="hero-tagline"></p>
            <a href="/about" class="hero-link">More about me</a>
        </div>
        <div class="hero-image">
            {{#get "tags" slug="stories" limit="1"}}{{#foreach tags}}<img class="hero-img hero-img-stories" src="{{feature_image}}" alt="Hudson Paine" style="display:none;">{{/foreach}}{{/get}}
            {{#get "tags" slug="products" limit="1"}}{{#foreach tags}}<img class="hero-img hero-img-products" src="{{feature_image}}" alt="Hudson Paine" style="display:none;">{{/foreach}}{{/get}}
        </div>
    </div>
</section>
