---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CategoryNav from '../components/CategoryNav.astro';
import PostGrid from '../components/PostGrid.astro';
import { getAllPosts } from '../lib/ghost';

const posts = await getAllPosts();
---
<Layout title="Hudson Paine">
  <main class="site-main">
    <Hero />
    <CategoryNav />
    <PostGrid posts={posts} />
  </main>
</Layout>
